<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NXP Layerscape Goggle/Helmet Detection with TFLite CPU</title>
    <link rel="shortcut icon" href="/static/images/nxp_favicon.ico">
    <style>h1 sup {font-weight: normal; font-size: 50%;}</style>
  </head>
  <body background="{{ url_for('static', filename='images/BG.png') }}">
    <center><h1>NXP Layerscape<sup>&reg;</sup> Goggle/Helmet Detection with TFLite CPU</h1></center>
    <center><img src="{{ url_for('video_feed') }}"></center>
    <footer>
      <p style="text-align:center;"><img src="{{ url_for('static', filename='images/nxp_logo.png') }}"><br />
	Copyright 2020 NXP.</p>
    </footer>
  </body>
</html>
